.card {
  display: flex;
  flex-flow: column;
  width: 366px;
  height: 542px;
  left: 206px;
  top: 1900px;
  background: rgba(255, 255, 255, 0.77);
  box-shadow: 10px 11px 11px rgba(0, 0, 0, 0.25);
  border-radius: 24px;
  padding: 30px;
}
.card img {
  max-width: 250px;
  max-height: 250px;
  align-self: center;
}

.card .info-animal-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.card .info-animal-box .content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.card .info-animal-box .content p {
  font-weight: 500;
  margin: 0;
}
.card .info-animal-box .content .type {
  font-size: 25px;
}
.card .info-animal-box .content .name {
  font-size: 15px;
}

.card .flags {
  display: flex;
  gap: 50px;
  margin-top: 50px;
}
