.container {
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  display: flex;
  padding-right: 2%;
  align-items: center;
  justify-content: space-between;
  padding-left: 39px;
}

.header .logo-box {
  display: flex;
  align-items: center;
}

.header .logo-box p {
  font-size: 48px;
  font-weight: bold;
  color: #000000;
}
.header .logo-box span {
  color: #fff;
}

.header nav .login-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 15px;
}

.section-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 978px;
  height: auto;
  flex-wrap: wrap;
  overflow-y: hidden;
  background-color: #5ec5dc;
}

.section-1 .content-box {
  align-self: flex-start;
  display: flex;
  flex: 1;
  flex-flow: column;
  margin-top: 190px;
  padding-left: 5%;
}
.section-1 .content-box h1 {
  font-weight: 700;
  font-size: 60px;
}
.section-1 .content-box p {
  font-size: 25px;
}
.section-1 .content-box .schedule-button {
  font-weight: 700;
  font-size: 35px;
  background: linear-gradient(94.83deg, #39b5ff 20.62%, #3d65b1 75.96%);
  box-shadow: 0px 4px 35px #3c81cd;
  border-radius: 74px;
  align-self: center;
  padding: 22px 137px;
  border: none;
  cursor: pointer;
  margin-top: 15px;
}

.section-1 .background-box {
  display: flex;
  flex: 1;
  height: 100%;
  z-index: 5;
}
.section-1 .background {
  position: relative;
  top: 193px;
  display: flex;
  justify-content: center;
  margin-left: 15rem;
}

.section-1 .background img {
  z-index: 4;
  flex: 1;
}

.section-1 .background .blur {
  position: absolute;
  z-index: 3;
  width: 100%;
  background-color: #d9d9d9;
  filter: blur(125px);
  height: 100%;
}
